  /*Fonts*/
  @font-face {
    font-family: "Coiny";
    src: url("../fonts/Coiny-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  /*Fonts*/


  /*Sidebar*/
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #30323D;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Coiny;
    font-size: 2.25vh;
  }
  
  .sidebar a {
    display: block;
    color: #CDD1C4;
    padding: 16px;
  }

  .sidebar a:hover {
      text-decoration: none;
      color: #E8C547;
  }
  /*Sidebar*/


  /*Content*/
  div.content {
    margin-left: 200px;
    background-color: #5C80BC;
  }
  /*Content*/
  

  /*Responsive*/
  @media screen and (max-width: 1024px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    div.content {
        margin-left: 0;
    }
  }
  /*Responsive*/


  /*Intro Section*/
  #introSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: Pacifico;
    color: #212F3D;
  }
  /*Intro Section*/


  /*About Section*/
  #aboutSection {
    font-family: Coiny;
    color: #212F3D;
    font-size: 2vh;
  }
  /*About Section*/


  /*Experience Section*/
  #experienceSection {
    font-family: Coiny;
    color: #212F3D;
    font-size: 2vh;
  }
  /*Experience Section*/


  /*Projects Section*/
  #projectsSection {
    font-family: Coiny;
    color: #212F3D;
    font-size: 2vh;
  }
  /*Projects Section*/


  /*Skills Section*/
  #skillsSection {
    font-family: Coiny;
    color: #212F3D;
    font-size: 2vh;
  }
  /*Skills Section*/


  /*Education Section*/
  #educationSection {
    font-family: Coiny;
    color: #212F3D;
    font-size: 2vh;
  }
  /*Education Section*/


  /*Contact Section*/
  #contactSection {
    font-family: Coiny;
    color: #212F3D;
  }
  /*Contact Section*/

  /*Footer*/
  footer {
    text-align: center;
    font-family: Coiny;
    color: #212F3D;
    font-size: 2vh;
  }
  /*Footer*/